.game-wrapper {
  display: flex;
  flex-direction: column;
}

.scoreboard {
  display: inherit;
  flex-direction: row;
}

.board {
  display: inherit;
  flex-direction: column;
}

.row {
  display: inherit;
  flex-direction: row;
}

.col {
  border: 1px solid #48cae4;
  padding: 0.5rem 1.5rem;
  font-size: 5rem;
  cursor: pointer;
  margin: 0.2rem;
  border-radius: 0.8rem;
  background-color: #48cae4;
  color: #023e8a;
}
