body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #023e8a;
}

#header {
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
}

#container {
  height: 75%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.start-menu {
  max-width: 250px;
  width: 100%;
}

.start-menu form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50%;
}

.radio-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.radio-container {
  display: block;
  position: relative;
  padding-left: 48%;
  margin-bottom: 35px;
  cursor: pointer;
  font-size: 2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.diff-radio {
  padding-left: 32%;
  font-size: 1rem;
}

/* Hide browser default radio buttons */
.radio-container input {
  display: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}

.diff {
  width: 80%;
  text-align: center;
  padding: 0.5rem;
  text-transform: uppercase;
}

.radio-container:hover input ~ .checkmark {
  background-color: #caf0f8;
}

.radio-container input:checked ~ .checkmark {
  background-color: #0096c7;
}
